body
  font-family "Helvetica Neue", helvetica, arial, sans-serif
  background #fff
  color #333

h1, h2, h3, h4, h5, h6
  line-height 1.1
  color #000

h1
  margin 20px 0

p, pre > code
  line-height 1.5

a
  text-decoration none
  color #2382C8

  &:hover, &:active
    text-decoration underline
