body
  font-family "Helvetica Neue", helvetica, arial, sans-serif
  background #fff
  color #333

h1, h2, h3, h4, h5, h6
  line-height 1.1
  color #000

h1
  margin 20px 0

p
  line-height 1.5

pre
  background-color #F8F8F8
  border 1px solid #CCC
  font-size 13px
  line-height 1.5
  overflow auto
  padding 6px 10px
  border-radius 3px
  white-space pre
  word-wrap normal

a
  text-decoration none
  color #2382C8

  &:hover, &:active
    text-decoration underline
