---
# Only the main Sass file needs front matter (the dashes are enough)
fingerprint: true
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "normalize";
@import "syntax-highlighting";

figure {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding: 1em 3em;
    line-height: 1.5;
}

pre {
    background-color: #fafafa;
    padding: 1em;
    overflow-x: scroll;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.footnotes {
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 1em 0;
    font-size: 0.9em;
    color: #444;
}

.avatar {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

.site-title {
    color: #333;
    font-weight: 200;
    & .site-title__link {
        text-decoration: none;
        margin-left: 1em;
    }
}

.site-footer {
    border-top: 1px solid #ddd;
}

.site-content {
    margin-top: 2em;
}
