<aside class="sidebar column">
  <h1 class="logo">
    <a href="/">
      hecticjeff
    </a>
  </h1>
  <img class="avatar" src="http://www.gravatar.com/avatar/049cff7912a937a751f66c19d74919a9.png?s=360" alt="hecticjeff" width="180" height="180" />
  <h2 class="lead">Hello, I'm Chris Mytton, a laid back Web Geek currently crafting in Bristol, UK.</h2>
  <nav class="nav internal">
    <a class="nav-link" href="/about" title="About me">About</a>
    <a class="nav-link" href="/archives" title="The full archives">Archive</a>
    <a class="nav-link" href="/index.xml" title="RSS Feed">Feed</a>
  </nav>
  <nav class="nav external">
    <a rel="me" class="github profile" href="https://github.com/hecticjeff"><img src="/img/GitHub-Mark-64px.png" alt="GitHub icon" width="32" height="32" /></a>
    <a rel="me" class="twitter profile" href="https://twitter.com/hecticjeff"><img src="/img/twitter-bird-light-bgs.png" alt="Twitter icon" width="32" height="32" /></a>
  </nav>
</aside>
