/**
 * Base styles
 */

* {
    // @see http://paulirish.com/2012/box-sizing-border-box-ftw/
    @include vendor-prefix(box-sizing, border-box);
    margin: 0;
    padding: 0;
}

html, body {
    background: #fff;
    color: #333;
    font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.13em;
    line-height: 175%;
}

h1 {
    font-size: 2em;
    margin: 20px 0;
    line-height: 110%;
}

h2, h3, h4, h5, h6 {
    margin: 15px 0;
}

p {
    margin: 0 0 20px 0;

    small {
        font-size: 14px;
    }
}


a {
    text-decoration: none;
    color: #0088cc;

    &:hover {
        text-decoration: underline;
    }
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

ul, ol {
    padding: 0;
    margin: 0 0 9px 25px;
}

blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 18px;
    border-left: 5px solid #eeeeee;

    p {
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 300;
        line-height: 22.5px;
    }

    small {
        display: block;
        line-height: 18px;
        color: #999999;
    }

    small:before {
        content: '\2014 \00A0';
    }
}

li {
    line-height: 175%;
}

code, pre {
    @include vendor-prefix(border-radius, 4px);
    font-family: Menlo, Monaco, "Courier New", monospace;
    font-size: 14px;
    line-height: 175%;
    border: 1px solid #ccc;
    padding: 4px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}

pre {
    display: block;
    padding: 8.5px;
    white-space: pre;
    overflow: auto;
    margin-bottom: 20px;
    word-wrap: break-word;

    & > code {
        padding: 0;
        border: 0;
    }
}
