img {
  max-width: 100%;
  vertical-align: middle;
}

figure {
  margin: 0;
  padding: 0;
}

pre, code {
  overflow-x: scroll;
}

pre {
  padding: 0.5rem 0.75rem;
  & > code {
    padding-right: 0;
    padding-left: 0;
  }
}

code {
  padding: 0.0625rem 0.1875rem;
}

.container {
  line-height: 1.5;
  margin: 0 auto;
  max-width: 39rem;
  padding: 1rem 3rem;
  @include narrow-screens {
    padding: 1rem 2rem;
  }
}

.footnotes {
  margin: 1rem 0;
  padding: 1rem 0;
  & > ol {
    padding-left: 1.5rem;
  }
}
