img {
  max-width: 100%;
  vertical-align: middle;
}

figure {
  margin: 0;
  padding: 0;
}

pre, code {
  overflow-x: scroll;
}

pre {
  padding: 8px 12px;
  & > code {
    padding-right: 0;
    padding-left: 0;
  }
}

code {
  padding: 1px 3px;
}

.container {
  max-width: 37.5em;
  margin: 0 auto;
  padding: 1em 3em;
  line-height: 1.5;
}

.footnotes {
  margin: 1em 0;
  padding: 1em 0;
  & > ol {
    padding-left: 1.5em;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .container {
    padding: 1em 2em;
  }
}
