$primary: #e8e8e8;
$accent: #0091EA;
$grey: #f5f9fb;
$dark-grey: #333;
$light-grey: #ccc;
$white: #fff;
$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-text-font: Georgia, Times, "Times New Roman", serif;
$light-grey-border: 1px solid $light-grey;

body {
  background-color: $primary;
  color: $dark-grey;
  font-family: $font-stack;
}

a, a:visited {
  color: $accent;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.container {
  background-color: $white;
}

.site-footer {
  border-top: $light-grey-border;
}

.footnotes {
  border-top: $light-grey-border;
  font-size: 0.8rem;
}

.avatar {
  border-radius: 50%;
  margin-right: 1rem;
  @include narrow-screens {
    display: none;
  }
}

.logo, .logo:visited, .logo:hover {
  color: $dark-grey;
  font-weight: 300;
  letter-spacing: 0.125rem;
  text-decoration: none;
}

pre, code {
  background-color: $grey;
}

pre {
  font-size: 0.9rem;
}

code {
  padding: 0.2rem 0.4rem;
  font-size: 85%;
}

pre > code {
  padding: 0;
  font-size: inherit;
}

.post-date {
  font-size: small;
  color: #999;
}

.post-content {
  font-family: $body-text-font;
  line-height: 1.8;
  font-size: 1.2rem;
  h1, h2, h3, h4, h5, h6 {
    font-family: $font-stack;
  }
}

blockquote {
  margin: 1.5em 0;
  border-left: 5px solid #ddd;
  padding-left: 15px;
  color: #555;
}

.post-preview {
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
  p {
    font-size: 0.9rem;
  }
}
