@import "mixins";
@import "normalize";
@import "base";
@import "layout";
@import "modules";

// Lead text
.lead {
    font-size: 20px;
    font-weight: 200;
}

// Rounded avatar
.avatar {
    @include vendor-prefix(border-radius, 50%);
}

.nav {
    margin-bottom: 20px;
}

.nav-link {
    display: block;
}

.profile {
    margin: 0 9px;
}

@media (max-width: 767px) {
    .logo {
        width: 170px;
        margin-bottom: 10px;
    }

    .avatar {
        display: none;
    }

    .external {
        display: none;
    }

    .internal li {
        float: left;
    }

    .nav-link {
        display: inline;
        font-size: 15px;
    }

    .sidebar .lead {
        display: none;
    }

    .post {
        margin: 0 0 40px;
    }

    .post-date {
        float: none;
        clear: both;
    }
}

@media (max-width: 980px) {
    .logo {
        font-size: 35px;
    }

    .avatar {
        width: 100px;
    }

    .post-date {
        margin-left: 0;
    }
}
