@import "mixins";
@import "normalize";
@import "base";
@import "layout";
@import "modules";

// Lead text
.lead {
    font-size: 20px;
    font-weight: 200;
}

// Rounded avatar
.avatar {
    @include vendor-prefix(border-radius, 50%);
}

.profile {
    margin: 0 9px;
}

@media (max-width: 767px) {

    .avatar {
        display: none;
    }

    .external {
        display: none;
    }

    .sidebar .lead {
        display: none;
    }
}

@media (max-width: 980px) {
    .logo {
        font-size: 35px;
    }

    .avatar {
        width: 100px;
    }
}
