@import "mixins";
@import "normalize";
@import "base";
@import "layout";
@import "modules";

.lead {
    font-size: 20px;
    font-weight: 200;
}

/* Logo component */
.logo {
    letter-spacing: 1px;
    font-weight: normal;
}

.logo a {
    color: #333;
}

.logo a:hover {
    text-decoration: none;
    color: #444;
}

.avatar {
    @include vendor-prefix(border-radius, 50%);
}

/* Nav component */
.nav {
    margin-left: 0;
    margin-bottom: 18px;
    list-style: none;
}

.github, .twitter {
    margin: 0 9px;
}

.nav-big > li > a {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 16px;
}

@media (max-width: 767px) {
    .logo {
        width: 170px;
        margin-bottom: 10px;
    }

    .avatar {
        display: none;
    }

    .external {
        display: none;
    }

    .internal {
        display: inline-block;
    }

    .internal li {
        float: left;
    }

    .nav-big > li > a {
        font-size: 15px;
        padding: 5px 3px;
        line-height: 8px;
    }

    .sidebar .lead {
        display: none;
    }

    .post {
        margin: 0 0 40px;
    }

    .post-date {
        float: none;
        clear: both;
    }
}

@media (max-width: 980px) {
    .logo {
        font-size: 24px;
    }

    .avatar {
        width: 100px;
    }

    .post-date {
        margin-left: 0;
    }
}
