/**
 * Post component
 */

.post {
    margin: 20px 0 40px;
    @include respond-to(handhelds) {
        margin: 0 0 40px;
    }
}

.post-date {
    color: #aaa;
    float: right;
    margin-left: 20px;
    font-size: 14px;
    @include respond-to(handhelds) {
        float: none;
        clear: both;
        margin-left: 0;
    }
}

.post-title a {
    color: #333;
}

.post-title a:hover {
    text-decoration: none;
    color: #444;
}
