<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="alternate" type="application/atom+xml" title="hecticjeff - feed" href="/index.xml" />
    <link rel="stylesheet" type="text/css" href="/css/hecticjeff.css" />

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/vendor/jquery.color.min.js"></script>
    <script type="text/javascript" src="/js/vendor/jquery.konami.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-13038794-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

    </script>
  </head>
  <body>
    <aside id="sidebar">
      <h1 class="logo">
        <a href="/"><img class="avatar" src="/img/hecticjeff.jpg" alt="hecticjeff" width="38" height="38" /> hecticjeff</a>
      </h1>
      <nav class="internal">
        <a href="/about" title="About me">About</a>
        <a href="/archives" title="The full archives">Archive</a>
      </nav>
      <nav class="external">
        <a rel="me" class="twitter" href="http://twitter.com/hecticjeff">Twitter</a>
        <a rel="me" class="github" href="https://github.com/hecticjeff">GitHub</a>
        <a rel="me" class="posterous" href="http://scraps.hecticjeff.net/">Posterous</a>
      </nav>
    </aside>
    <section id="main">
      {{ content }}
    </section>
    <footer>
    </footer>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4ef5303df5a1f53cc7000007');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
