---
layout: default
---
<article class="post link">
  <header class="meta">
    <p class="date" title="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</p>
  </header>

  <blockquote>
    <h4><a href="{{ page.link }}">{{ page.title }}</a></h4>
    {{ content }}
  </blockquote>
</article>

<div class="alert alert-info">
  <h4 class="alert-heading">Like what you've read? Why not follow <a
      href="https://twitter.com/hecticjeff" rel="me">@hecticjeff</a> on Twitter.</h4>
</div>
